<%- include ('partials/header.ejs') -%>
<%- include ('partials/navbar.ejs') -%>


<div class="container">
    <div class="left-container">
      <img id="czarina-img" src="../public/img/czarina.jpg" alt="Czarina" />
      <a id="resume-button" class="button center" href="../public/files/resume.pdf" target="_blank">Click here for my resume</a>
    </div>

    <div class="right-container">
      <img id="aboutlogo" src="../public/img/logo_pink.jpg" alt="logo">
      <h2>Hi! My name is Czarina Santos.</h2>
      <p>I am currently 24 years old, and reside in Toronto, Canada.</p>
      <p>
        I'm in my final semester of software engineering at Centennial College.
      </p>
      <p>
        I am extremely passionate about cybersecurity, and hope to work in the field one day as an ethical hacker or work in digital forensics.
        When I am not working on my cybersecurity certifications, I am often developing websites for small businesses.
      </p>

      <p>Some of my technical skills include:</p>
      <ul>
        <li>Linux</li>
        <li>Python</li>
        <li>C#</li>
        <li>Java</li>
        <li>General Web Development (Full-Stack)</li>
      </ul>

      <p>
        I am currently working on completing Google's Cybersecurity certificate course, whilst also studying for COMPTIA's Security+ certification.
        My current goals that I would like to achieve in the next 10 years are to attend and complete post-graduate studies in Cybersecurity,
        start my career as a cybersecurity analyst, return to school for a Bachelor's Degree,
        and eventually take the CISSP (Certified Information Systems Security Professional) exam.
      </p>

      <p>
        Some of my hobbies include collecting hot wheels, playing League of Legends, and listening to music.
      </p>

      <a class="button" href="/projects">
        Click here to see some of my projects!
      </a>
    </div>
  </div>

  <%- include ('partials/footer.ejs') -%>