<%- include ('partials/header.ejs') -%>
<%- include ('partials/navbar.ejs') -%>

<h1 class="center">Contact Me</h1>
<p class="center">Feel free to contact me on LinkedIn for any inquiries!
</p>

<a href="https://www.linkedin.com/in/czarinasantos9/" target="_blank">
    <img id="linkedin_screenshot" class="center" src="../public/img/linkedin_screenshot.png" alt="linkedinscreenshot">
</a>


  <a href="https://www.linkedin.com/in/czarinasantos9/" target="_blank">
    <img id="linkedin" src="../public/img/linkedin.png" alt="linkedin">
</a>

<%- include ('partials/footer.ejs') -%>