<%- include ('partials/header.ejs') -%>
<%- include ('partials/navbar.ejs') -%>

    <div class="container">
      <h2>Miscellaneous Experiences</h2>
      <h3>The CCSAI Computer and Coding Club</h3>
      <p>
        I am the first and current Vice President of the CCSAI Computer and Coding Club. I mainly manage the activities and events within the 
      </p>

      <h2>Certifications</h2>
    </div>

<%- include ('partials/footer.ejs') -%>