<%- include ('partials/header.ejs') -%>
<%- include ('partials/navbar.ejs') -%>

    <div id="home-container">
      <img id="logo" src="../public/img/logo_wide.jpg" alt="logo" />
      <h1>Welcome to the Home Page</h1>
      <h3>Cyber Security</h3>
      <a class="button" href="/aboutme">Learn More</a>
    </div>

<%- include ('partials/footer.ejs') -%>