<%- include ('partials/header.ejs') -%>
<%- include ('partials/navbar.ejs') -%>

<h1 class="center">My Projects</h1>

    <p class="center">
      Below are some of the projects I am most proud of, both personal and school assignments.
    </p>

    <div class="card-container center">
        <div class="card">
            <img class ='card-image'src="../public/img/portfolio.jpg" alt="portfolio">
            <h2 class="card-title">My Portfolio</h2>
            <p class="card-description">My most recent project, I use EJS to develop my website,
                and show off my technical skills and design.
            </p>
            <a href="/index" class="card-link" target="_blank">Link to website</a>
        </div>
        <div class="card">
            <img class ='card-image'src="../public/img/idbeauty.png" alt="idbeauty">
            <h2 class="card-title">idbeauty</h2>
            <p class="card-description">A website created by my team and I for the SheHacks hack-a-thon in January of 2023.
                The idea behind the website uses the Co:here API language model to analyze and classify text relating to makeup
                styles. I worked as the lead developer.
            </p>
            <a href="https://devpost.com/software/idbeauty" class="card-link" target="_blank">Link To Devpost Submission</a>
        </div>
        <div class="card">            
            <img class ='card-image'src="../public/img/mentor_me.png" alt="mentor me logo">
            <h2 class="card-title">Mentor Me</h2>
            <p class="card-description">My team's submission for Sheridan College's Hackville 2024.
                Mentor Me is  a social media application for students who are looking for guidance and mentorship from other students who are in higher
                years of the same program. Made using Node.js, Express.js, React, and MongoDB. Won "Best Use of MongoDB Award".
            </p>
            <a href="https://devpost.com/software/mentor-me-3cjs40" class="card-link" target="_blank">Link Devpost Submission</a>
        </div>
    </div>

<%- include ('partials/footer.ejs') -%>