<%- include ('partials/header.ejs') -%>
<%- include ('partials/navbar.ejs') -%>

<h1 class="center">My Services</h1>
<p class="center notreal">These services are purely fictional and exist for the purpose of my assignment.</p>
<div class="card-container center">
    <div class="card">
        <img class ='card-image'src="../public/img/ux.png" alt="portfolio">
        <h2 class="card-title">User Experience and Website Design</h2>
        <p class="card-description">Enhance your online presence with my user-focused website design services. 
        </p>
        <a href="#" class="card-link">Learn More</a>
    </div>
    <div class="card">
        <img class ='card-image' src="../public/img/generalprogramming.png" alt="general programming">
        <h2 class="card-title">General Programming</h2>
        <p class="card-description">Unlock the full potential of your business with my comprehensive programming
             services, where I code to create innovative solutions tailored to your unique needs.
        </p>
        <a href="#" class="card-link">Learn More</a>
    </div>
    <div class="card">            
        <img class ='card-image'src="../public/img/mobileapplication.jpg" alt="mobile application">
        <h2 class="card-title">Mobile Application Development</h2>
        <p class="card-description">Experience the seamless power of mobile application development as I bring
             your ideas to mobile.
        </p>
        <a href="#" class="card-link">Learn More</a>
    </div>
</div>

<%- include ('partials/footer.ejs') -%>